.avatar-chooser {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1em 0;
}

.avatar-preview {
    margin-left: auto;
    padding-right: 1em;
}

.preview-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.avatar-mode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding-left: 1em;

    & > div, & > label {
        margin-right: auto;
        height: 1em;
    }
}

.avatar-file-input {
    margin-left: 0.5em;
}