.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 64px;
  padding: 0 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
}

.menu,
.user-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu a,
.user-actions a {
  text-decoration: none;
  color: #333;
}

.user-actions button {
    padding: 0.5rem 1rem;
    cursor: pointer;
}